.form {
  background-color: aqua;
  padding: 10px;
    display: inline-flexbox;
    flex-direction: row;
    justify-content: center;
  
  
}

.form input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 .form button {
  background-color: green;
  
 }