.navbar {
    background: red;
    height: 100px;
  }
  
  .navbar a {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 50px;
    line-height: 5;
  }
  /* grabbed from class work */