.section {
    background: lightblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .section h2 {
    text-align: center;
  }
  /* grabbed from class work */