* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background-color: var(--main);
  }
  :root{
    --dark: black;
    --main: rgb(106, 168, 190);
    --light: antiquewhite;

  }
  
  body {
    background-color:var(--main);
  }

.form {
    background-color: var(--main);
    padding: 10px;
    

    
    
  }
  
  .form input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    background-color: var(--light);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    text-align: center;
  }
   .form button {
    background-color: var(--light);
    
    
   }
   .section {
    
      flex: 1 0 100%;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      margin: 5px;
  
  }
  
  .section h2 {
    text-align: center;
  }
  .header {
    background: var(--main);
    height: 400px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    color: antiquewhite;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
    background: var(--main);
  }
.footer {
  text-align: center;
  background-color:var(--main);
  
  
}
.footer h2 {
  text-align: center;
  background-color: var(--main);
  color: var(--light);
  
}
.footer a {
  color: var(--dark);
  text-decoration: none;
}

.classImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}



.project{
  border: 5px solid var(--light);
  border-radius: 5px;
  padding: 5px;
  width: 50%; 
  text-align: center;
  display: block;
 
  
  
}
.repo{
  text-decoration: none;
  text-align: center;
  color:var(--dark);
  border: 2px solid var(--light);
  border-radius: 5px;
  background-color: var(--light);
  
  
}
@media screen and (max-width:992px){

}
